<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
	<h1>Learn Magic from the Pros</h1>
	<br />
	<h2> Learn Like I have - Kurt.</h2>
	<br />
	<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
	<br /><br /> 
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Learn At Your Own Pace</h3>
    <br />
    Learn at the speed you want to.
  </div>

  <div class="col-sm-4">
    <h3>Share Your Skills</h3>
    <br />
    You can teach what you want.
  </div>

  <div class="col-sm-4">
    <h3>Personalized Page</h3>
    <br />
    You can see your courses that you registered for in your dashboard.
  </div>
</div>